# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
.venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# data & outputs
/data/
/data/*
!/data/.gitkeep

# virtualenv
.venv/
venv/

# logs
*.log

# webdriver-manager cache
/.wdm/

# IDEs
.vscode/
.idea/

# pipenv
Pipfile.lock
